// Custom styles.
$base03 = #002b36
$base02 = #073642
$base01 = #586e75
$base00 = #657b83
$base0  = #839496
$base1  = #93a1a1
$base2  = #eee8d5
$base3  = #fdf6e3
$yellow = #b58900
$orange = #cb4b16
$red    = #dc322f
$magenta= #d33682
$violet = #6c71c4
$blue   = #268bd2
$cyan   = #2aa198
$green  = #859900
body {
  background-color: $base02
  /*background: url(/uploads/background.jpg);*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
// 背景色
.content-wrap{
  background: $ffffff;
}
// 行内代码颜色
code {
    color: $base01;
    background: $base3;
}
// brand 背景
.site-meta {
    background-image: linear-gradient(90deg, $yellow 0%, $orange 15%, $red 30%, $magenta 44%, $violet 58%, $blue 72%, $cyan 86%, $green 100%);
}
// 菜单超链接字体大小
.menu .menu-item a {
    color: $base01
    font-size: 14px;
}
// 页面文章标题颜色
.posts-expand .post-title-link {
    color: $base01;
}
// 文章标题字体大小
.posts-expand .post-title {
    font-size: 24px;
    color: $base01;
}
// 文章标题动态效果
.posts-expand .post-title-link::before {
    background-image: linear-gradient(90deg, $yellow 0%, $orange 15%, $red 30%, $magenta 44%, $violet 58%, $blue 72%, $cyan 86%, $green 100%);
}
// 文章元数据（site-meta）字体
.posts-expand .post-meta {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
// 文章的描述description
.posts-expand .post-meta .post-description {
    color: rgba(0, 0, 0, 0.75);
    font-style: italic;
}
// 阅读更多
.post-button .btn:hover {
    background-image: linear-gradient(90deg, $yellow 0%, $orange 15%, $red 30%, $magenta 44%, $violet 58%, $blue 72%, $cyan 86%, $green 100%);
}
// 右下角返回顶部按钮样式
.back-to-top {
    color: $base03;
    right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: $base2;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.back-to-top.back-to-top-on {
    bottom: 10px;
}
// 超链接样式
a {
    color: $base01
    border-bottom-color: $base2;
}
a:hover {
    color: $base0;
    border-bottom-color: $base2;
}
// 侧栏目录链接样式
.post-toc ol a {
    color: $base01;
}
.post-toc ol a:hover {
    color: $base1;
}
// 侧栏目录链接样式之当前目录
.post-toc .nav .active > a {
    color: $orange;
    border-bottom-color: $orange;
}
.post-toc .nav .active > a:hover {
    color: $red;
    border-bottom-color: $red;
}
// 侧栏头像（圆形以及旋转效果）
.site-author-image {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    transition: transform 1.0s ease-out;
}
img:hover {
    transform: rotateZ(360deg);
}
.posts-expand .post-body img:hover {
    transform: initial;
}
// 图片设置
.posts-expand .post-body img {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    border: 0px;
}
// 侧栏超链接样式（友链的样式）
.sidebar a {
    color: $base01;
    border-bottom: none;
}
.sidebar a:hover {
    color: $base1;
}
// 侧栏顶部文字
.sidebar-nav li {
    font-size: 15px;
    font-weight: bold;
    color: $base1;
}
.sidebar-nav li:hover {
    color: $red;
}
.sidebar-nav .sidebar-nav-active {
    color: $red;
    border-bottom-color: $red;
    border-bottom-width: 1.5px;
}
.sidebar-nav .sidebar-nav-active:hover {
    color: $red;
}
.sidebar {
background-color: #ffffff;
}
// 页脚
.footer {
    color: $base3;
}
